<header>
  <div class="header-container">
    <div class="logo float-left">
      <img id="logo_accion" src="../assets/img/logo.png" alt="">
    </div>
    <div class="sesion float-right">
      <div class="text">
        <p class="name" id="">robertcastro</p>
        <p class="job visible" id="" hidden>FHV-VALORACION</p>
        <p class="job" id="">bolivar</p>
        <p class="job visible" id="" hidden>editar </p>
        <p class="job visible" id="" hidden>c25d5d98-e3de-43d9-95cf-a5775c5651d4</p>
        <p class="state">En línea</p>
      </div>
      <img src="../assets/img/user1.png" alt="">
    </div>
  </div>
  <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons session-close">keyboard_arrow_down</i></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="ShowPdiv('settings')">Módulo parametrization</button>
    <button mat-menu-item>Cerrar sesión</button>
  </mat-menu>
</header>
<div class="main-content">
  <div class="container-fluid borderless">
    <div class="init-vars" *ngIf="currPdiv == 'select'">
      <div class="modal-body">
        <div class="modal-content">
          <form [formGroup]="dialogFormGroup">
            <h3 class="texto_info okinfo-title">Amparo a afectar</h3>
            <mat-radio-group aria-label="Select an option" formControlName="amparo">
              <div class="row justify-content-between">
                <div class="col-6">
                  <mat-radio-button value="tercero" class="btn-checkbox">Tercero</mat-radio-button>
                </div>
                <div class="col-6">
                  <mat-radio-button value="asegurado" class="btn-checkbox">Asegurado</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
            <h3 class="texto_info">Tipo de servicio</h3>
            <mat-radio-group aria-label="Select an option" formControlName="servicio">
              <div class="row justify-content-between">
                <div class="col-6">
                  <mat-radio-button value="Publico" class="btn-checkbox">Público</mat-radio-button>
                </div>
                <div class="col-6">
                  <mat-radio-button value="particular" class="btn-checkbox">particular</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
            <h3 class="texto_info">Pérdida total</h3>
            <mat-radio-group aria-label="Select an option" formControlName="perdida">
              <div class="row justify-content-between">
                <div class="col-6">
                  <mat-radio-button value="si" class="btn-checkbox">Si</mat-radio-button>
                </div>
                <div class="col-6">
                  <mat-radio-button value="no" class="btn-checkbox">No</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </form>
        </div>
      </div>
      <div class="buttons btn-okinfo">
        <div class="container"><button class="ok_info btn btn-warning"
            [disabled]="(!dialogFormGroup.controls.amparo.value || !dialogFormGroup.controls.servicio.value) || (!dialogFormGroup.controls.perdida.value)"
            (click)="ShowPdiv('steps')">CONTINUAR</button></div>
      </div>
    </div>
    <div class="steps" *ngIf="currPdiv == 'steps'">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <div>
            <div class="step-1" *ngIf="currDiv == 'step-1'">
              <div class="breadcrumb">
                <p>Inicio / <b>Datos básicos</b></p>
              </div>
              <div class="row datos-vehiculo">
                <div class="col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <input type="siniestro" class="form-control" id="siniestro" placeholder="N° de siniestro *">
                    </div>
                    <div class="text-container-upload" (click)="hiddenfileinput.click()">
                      <input style="display: none" type="file" #hiddenfileinput>
                      <div class="row">
                        <div class="col-4">
                          <i class="material-icons backup  align-middle">backup</i>
                        </div>
                        <div class="col-8">
                          <div class="textos">
                            <p><b>Busca y selecciona</b> la imagen de la tarjeta de propiedad del vehículo</p>
                            <p><span class="small-p">Máximo 5MB/ JPG y PNG </span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="loading-container success dotted">
                      <div class="row">
                        <div class="col-3 col">
                          <span class="jpg">jpg</span>
                        </div>
                        <div class="col-5 col">
                          <p>Tarjeta de propiedad</p>
                        </div>
                        <div class="col-2 col">
                          <p class="porcentaje">100%</p>
                        </div>
                        <div class="col-2 col">
                          <span class="material-icons">
                            close
                          </span>
                        </div>
                      </div>
                      <div class="row progress-bar-porcent">
                        <div class="col-12">
                          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                        </div>
                      </div>

                    </div>
                    <div class="text-container-upload" (click)="hiddenfileinput.click()">
                      <input style="display: none" type="file" #hiddenfileinput>
                      <div class="row">
                        <div class="col-4">
                          <i class="material-icons backup  align-middle">backup</i>
                        </div>
                        <div class="col-8">
                          <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <p class="spinner-text">Cargando</p>
                          <p>Espera un minuto mientras se carga el archivo</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group group-upload succes-input">
                      <input type="vin" class="form-control" id="vin" placeholder="VIN *">
                    </div>
                    <div class="form-group error-input">
                      <input type="marca" class="form-control" id="placa" placeholder="Placa *">
                    </div>
                    <div class="form-group">
                      <input type="marca" class="form-control" id="marca" placeholder="Marca">
                    </div>
                    <div class="form-group">
                      <input type="modelo" class="form-control" id="modelo" placeholder="Modelo *">
                    </div>
                    <div class="form-group">
                      <input type="linea" class="form-control" id="linea" placeholder="Linea *">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <input type="año" class="form-control" id="año" placeholder="Año">
                    </div>
                    <div class="form-group">
                      <div id="Ciudad" class="">
                        <select class="form-control" id="ciudad">
                          <option id="">Ciudad *</option>
                        </select></div>
                    </div>
                    <div class="form-group">
                      <div id="taller" class="">
                        <select class="form-control" id="taller">
                          <option id="">Taller *</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div id="tipo_pintura-button"><select class="form-control" id="tipo_pintura">
                          <option value="metalizada">Tipo de pintura</option>
                          <option value="metalizada">metalizada</option>
                          <option value="monocapa">monocapa</option>
                          <option value="perlada">perlada</option>
                          <option value="solido bicapa">solido bicapa</option>
                          <option value="tricapa">tricapa</option>
                        </select>
                      </div>
                    </div>
                    <div class="imagenes-vehiculos">
                      <p class="regular">Selecciona el tipo de vehículo</p>
                      <div class="row">
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col seleccionable active" id="hatchback">
                            <div class="content">
                              <img src="../assets/img/hatchback.png" alt="">
                              <p>Hatchback</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col seleccionable" id="sedan">
                            <div class="content">
                              <img src="../assets/img/sedan.png" alt="">
                              <p>Sedan</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="pickup">
                            <div class="content">
                              <img src="../assets/img/pickup.png" alt="">
                              <p>Pickup</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="coupe">
                            <div class="content">
                              <img src="../assets/img/coupe.png" alt="">
                              <p>Coupe</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="camioneta">
                            <div class="content">
                              <img src="../assets/img/camioneta.png" alt="">
                              <p>Camioneta</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="campero">
                            <div class="content">
                              <img src="../assets/img/campero.png" alt="">
                              <p>Campero</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col btn-container text-center">
                  <button class="btn btn-warning" (click)="ShowDiv('step-2')" matStepperNext>CONTINUAR</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div class="step-2" *ngIf="currDiv == 'step-2'">
            <div class="breadcrumb">
              <p>Inicio / <b>Zonas afectadas</b></p>
            </div>
            <div class="col-12">
              <div class="contenedor">
                <mat-tab-group>
                  <mat-tab label="ZONAS AFECTADAS">
                    <div class="row top-div-tabs">
                      <div class="col-md-6 image-container">
                        <div class="top-div">
                          <img class="cenital-view" src="../assets/img/cenital.png" alt="">
                          <div *ngFor="let add of adds" [class]="'picture '+ add.position">
                            <mat-icon class="add-picture"
                              (click)="hiddenfileinput.click(); open_modal_time(picturemodal); changeClass($event)">add
                            </mat-icon>
                            <input style="display: none" type="file" #hiddenfileinput>
                          </div>
                          <div *ngIf="!tooltip" class="tool">
                            <p>Se produjo un error al cargar de tu fotografía. <br> Haz click en el botón y vuelve a
                              intentarlo. </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 upload">
                        <p class="archivos">Sube todos tus archivos</p>
                        <div class="text-container-upload">
                          <input style="display: none" type="file" #hiddenfileinput>
                          <div class="row">
                            <div class="col-4 col-md-12">
                              <i class="material-icons backup  align-middle">backup</i>
                            </div>
                            <div class="col-8 col-md-12">
                              <div class="textos">
                                <p><span class="link" (click)="hiddenfileinput.click()">Busca en tu equipo</span> y
                                  escoge los archivos que quieres subir</p>
                                <p><span class="small-p">Archivos soportados JPG, JEPG y PNG <br>Máximo 5MB </span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="loading-container success">
                          <div class="row">
                            <div class="col-3 col">
                              <span class="jpg">jpg</span>
                            </div>
                            <div class="col-5 col">
                              <p>Archivo 1</p>
                            </div>
                            <div class="col-2 col">
                              <p class="porcentaje">100%</p>
                            </div>
                            <div class="col-2 col">
                              <span class="material-icons">
                                close
                              </span>
                            </div>
                          </div>
                          <div class="row progress-bar-porcent">
                            <div class="col-12">
                              <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                            </div>
                          </div>
                        </div>
                        <div class="loading-container warning">
                          <div class="row">
                            <div class="col-3 col">
                              <span class="jpg">jpg</span>
                            </div>
                            <div class="col-5 col">
                              <p>Archivo 2</p>
                            </div>
                            <div class="col-2 col">

                            </div>
                            <div class="col-2 col">
                              <span class="material-icons">
                                error
                              </span>
                            </div>
                          </div>
                          <div class="row progress-bar-porcent">
                            <div class="col-12">
                              <mat-progress-bar mode="determinate" value="71"></mat-progress-bar>
                            </div>
                          </div>
                        </div>
                        <div class="loading-container error">
                          <div class="row">
                            <div class="col-3 col">
                              <span class="jpg">jpg</span>
                            </div>
                            <div class="col-5 col">
                              <p>Archivo 3</p>
                            </div>
                            <div class="col-2 col">
                            </div>
                            <div class="col-2 col">
                              <span class="material-icons">
                                close
                              </span>
                            </div>
                          </div>
                          <div class="row progress-bar-porcent">
                            <div class="col-12">
                              <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="GALERÍA">
                    <div class="container">
                      <div class="gallery-icons">
                        <div class="icon-container">
                          <span class="material-icons">
                            edit
                          </span>
                        </div>
                        <div class="icon-container">
                          <span class="material-icons">
                            delete
                          </span>
                        </div>
                      </div>
                      <div class="gallery">
                        <div class="row">
                          <div class="grid-item col-6 col-md-3" *ngFor="let item of items; let i = index"
                            [lightbox]="i">
                            <p>Número de foto: {{item.data.textProperty}}</p>
                            <div class="image-container">
                              <img [src]="item.data.thumb">

                              <span class="material-icons close-icon" (click)="remove(i)">
                                close
                              </span>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-light" matStepperPrevious (click)="ShowDiv('step-1')">Atrás</button>
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-3')">Continuar</button>
              </div>
            </div>
            <ng-template #picturemodal let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body picturemodal">
                <div class="row">
                  <div class="col image-col">
                    <div class="modal-image">
                      <img src="../assets/img/images/frontal-izquierda.png" alt="">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <input type="text" placeholder="Nombre de la fotografía">
                    <p>Selecciona la ubicación que corresponde la fotografía</p>
                    <div class="group">
                      <mat-checkbox>Frontal</mat-checkbox>
                      <mat-checkbox>Frontal derecha 45º</mat-checkbox>
                      <mat-checkbox>Frontal izquierda 45º</mat-checkbox>
                      <mat-checkbox>Lateral derecha</mat-checkbox>
                    </div>
                    <div class="group">
                      <mat-checkbox>Lateral izquierda</mat-checkbox>
                      <mat-checkbox>Posterior</mat-checkbox>
                      <mat-checkbox>Posterior derecha 45º</mat-checkbox>
                      <mat-checkbox>Posterior izquierda 45º</mat-checkbox>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="loading-container success dotted">
                      <div class="row">
                        <div class="col-3 col">
                          <span class="jpg">jpg</span>
                        </div>
                        <div class="col-5 col">
                          <p>Archivo 1</p>
                        </div>
                        <div class="col-2 col">
                          <p class="porcentaje">100%</p>
                        </div>
                        <div class="col-2 col">
                          <span class="material-icons">
                            close
                          </span>
                        </div>
                      </div>
                      <div class="row progress-bar-porcent">
                        <div class="col-12">
                          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="step-3" *ngIf="currDiv == 'step-3'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="table-container example-container mat-elevation-z8 col-12">
              <h6><b>Busca el nombre del repuesto que deseas agregar</b></h6>
              <form class="example-form" [formGroup]="filterForm">
                <mat-form-field class="example-full-width">
                  <mat-label>Agregar piezas</mat-label>
                  <input ype="text" placeholder="Agregar piezas" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                      (click)="addRow($event)">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>

              <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <!-- Name Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element" class="input-td"> <input type="text"></td>
                  </ng-container>
                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre del repuesto </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-light" (click)="ShowDiv('step-2')">Atrás</button>
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-4')" matStepperNext>Continuar</button>
              </div>
            </div>
          </div>

        </mat-step>
        <mat-step>
          <div class="step-4" *ngIf="currDiv == 'step-4'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="col-12 table-valoracion-container">
              <div class="row valoracion-texto">
                <div id="encabezado_resultado" class="col-12">
                  <div class="row">
                    <div class="col-8 col-md-10">
                      <div class="row">
                        <div class="col-md-4">
                          <p id="informacion_placa" class="info_detalle">PLACA: UTN539</p>
                        </div>
                        <div class="col-md-4">
                          <p id="informacion_marca" class="info_general">Marca: NIZAN</p>
                          <p id="informacion_linea" class="info_general">Modelo: XTRAIL</p>
                        </div>
                        <div class="col-md-4">
                          <p id="informacion_marca" class="info_general">Línea: D2</p>
                          <p id="informacion_linea" class="info_general">Año: 2017</p>
                        </div>

                      </div>
                    </div>
                    <div class="col-4 col-md-2 float-right">
                      <div class="perdida-div float-right">
                        <div class="unicorn-dark-theme">
                          <mat-progress-spinner class="example-margin " [color]="color" [mode]="mode" [value]="value">
                          </mat-progress-spinner>
                          <div class="texto-perdida">
                            <p class="valor" [ngStyle]="{'color' : pcolor}">{{value}} %</p>
                            <p class="texto" [ngStyle]="{'color' : pcolor}">pérdida</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 table-valoracion-container">
              <div class="row table-edition">
                <div class="col-5 col-md-7">
                  <p class="info_detalle">Valoración</p>
                </div>
                <div class="col-7 col-md-5">
                  <div class="row">
                    <div class="col-4 buttons-table-container"> <button>
                        <span class="material-icons">
                          save
                        </span>

                        <p class="button-table">Guardar</p>
                      </button></div>
                    <div class="col-4 buttons-table-container" (click)="removeSelectedRows()"> <button>
                        <span class="material-icons">
                          delete
                        </span>
                        <p class="button-table">Eliminar</p>
                      </button></div>
                    <div class="col-4 buttons-table-container"> <button>
                        <span class="material-icons">
                          picture_as_pdf
                        </span>
                        <p class="button-table">Exportar</p>
                      </button></div>
                  </div>

                </div>
              </div>
              <div class="mat-elevation-z8 example-container">
                <table mat-table [dataSource]="dataSource1">


                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle1() : null"
                        [checked]="selection1.hasValue() && isAllSelected1()"
                        [indeterminate]="selection1.hasValue() && !isAllSelected1()" [aria-label]="checkboxLabel1()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(row) : null"
                        [checked]="selection1.isSelected(row)" [aria-label]="checkboxLabel1(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- Unidad Column -->
                  <ng-container matColumnDef="unidades">
                    <th mat-header-cell *matHeaderCellDef>unidades</th>
                    <td mat-cell *matCellDef="let element"><input type="text" name="" id=""></td>
                  </ng-container>

                  <!-- Nombre Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>

                  <!-- Referencia Column -->
                  <ng-container matColumnDef="referencia">
                    <th mat-header-cell *matHeaderCellDef>Referencia</th>
                    <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
                  </ng-container>
                  <!-- estado -->
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">
                      <select class="tableedit_d form-control editable" id="_acc">
                        <option value="C" selected>Cambio</option>
                        <option value="R">Reparacion</option>
                      </select></td>
                  </ng-container>
                  <!-- Precio Column -->
                  <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef>Predio</th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                  </ng-container>
                  <!-- Acciones Column -->
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element; let j = index;">
                      <span class="material-icons">
                        edit
                      </span>
                      <span class="material-icons" (click)="deleteTicket(j)">
                        delete
                      </span>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

              </div>


            </div>
            <div class="col-md-12 contenedor-planes">
              <div class="row">
                <div class="col-md-4 planes">
                  <div class="titulo">
                    <h3>Valor de Repuestos</h3>
                  </div>
                  <div class="text-container">
                    <p class="tiempo">Tiempo estimado 5 días</p>
                    <p class="valor" id="valor_repuestos">$ 2.381.646 COP</p>
                    <p class="iva">Valores sin IVA</p>
                  </div>
                </div>
                <div class="col-md-4 planes">
                  <div class="titulo obra">
                    <h3>Valor Mano de obra</h3>
                    <i id="edit" class="material-icons edit editar" (click)="ShowDiv('edit')">edit</i>
                  </div>
                  <div class="text-container">
                    <p class="tiempo">Tiempo estimado 10 horas</p>
                    <p class="valor" id="valor_tiempo">$ 337.342 COP</p>
                    <p class="iva">Valores sin IVA</p>
                  </div>
                </div>
                <div class="col-md-4 planes total">
                  <div class="titulo">
                    <h3>TOTAL VALORACIÓN</h3>
                  </div>
                  <div class="text-container">
                    <p class="tiempo">Tiempo en reparación: <b id="tiempo_estimado">9 días</b></p>
                    <p class="valor-total" id="total_valoracion">$ 2.718.988 COP</p>
                    <p class="iva">Valores sin IVA</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-light" (click)="ShowDiv('step-3')" matStepperPrevious>Atrás</button>
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-5')">Continuar</button>
              </div>
            </div>
          </div>
          <div class="edit" *ngIf="currDiv == 'edit'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="col-12 table-edicion-container">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="table-responsive">
                      <h3>Mano de obra</h3>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Tipo de pintura</th>
                            <th scope="col">Horas de trabajo</th>
                            <th scope="col">Valor de mano de obra </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>

                            <td class="text-center" scope="col" id="Mano_obra_descripcion">Mano de Obra Lamina</td>
                            <td scope="col">
                              <input type="text" id="Mano_obra_horas" value="5.3">
                            </td>
                            <td scope="col">
                              <input type="text" value="36000">
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center" scope="col">Mano de Obra Mecanica</td>
                            <td scope="col">
                              <input type="text" id="Mano_obra_horas" value="5.3">
                            </td>
                            <td scope="col">
                              <input type="text" value="36000">
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="table-responsive">
                      <h3>Pintura</h3>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Areas</th>
                            <th scope="col">Horas </th>
                            <th scope="col">Valor Hora </th>
                            <th scope="col">Materiales de Pintura</th>
                            <th scope="col">Total (COP)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <input type="text" id="Mano_obra_horas" value="5.3">
                            </td>
                            <td>
                              <div>
                                <input type="text" id="Mano_obra_horas" value="5.3">
                              </div>
                            </td>
                            <td>
                              <div>
                                <input class="text-center" type="text" id="horas_de_pintura"></div>
                            </td>
                            <td>
                              <div>
                                <input class="text-center" type="text" id="valor_hora_pintura">
                              </div>

                            <td id="valor_total_pintura" class="text-center">$ 0 COP</td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" id="Mano_obra_horas" value="5.3">
                            </td>
                            <td>
                              <div>
                                <input type="text" id="Mano_obra_horas" value="5.3">
                              </div>
                            </td>
                            <td>
                              <div>
                                <input class="text-center" type="text" id="horas_de_pintura"></div>
                            </td>
                            <td>
                              <div>
                                <input class="text-center" type="text" id="valor_hora_pintura">
                              </div>
                            <td id="valor_total_pintura" class="text-center">$ 0 COP</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 contenedor-planes edit-plan">
              <div class="row">
                <div class="col-md-12 planes especial">
                  <div class="titulo obra">
                    <h3>Valor Mano de obra</h3>
                  </div>
                  <div class="text-container">
                    <p class="tiempo">Tiempo estimado 10.5 días</p>
                    <p class="valor" id="valor_tiempo_d">$ 191.472 COP</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-4')">Continuar</button>
              </div>
            </div>
          </div>
          <div class="step-5" *ngIf="currDiv == 'step-5'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="col-12">
              <div class="contenedor">
                <div *ngIf="tercero">
                  <div class="row">
                    <div class="col-12 col-md-6 ">
                      <p class="titulo-notas"><span class="material-icons">
                          comment
                        </span> Notas</p>
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Escribe tus notas"></textarea>
                      </div>
                      <p class="observacion">Máximo 500 caracteres</p>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="negociacion">
                        <p class="negociacion-titulo">
                          Negociación Final
                        </p>
                        <p class="texto-negociacion">
                          Ingresa el valor final de la negociación con
                          el tercero en la colisión.
                        </p>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!tercero">
                  <div class="row">
                    <div class="col-12 col-md-8 row-notas">
                      <p class="titulo-notas"><span class="material-icons">
                          comment
                        </span> Notas</p>
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Escribe tus notas"></textarea>
                      </div>
                      <p class="observacion">Máximo 500 caracteres</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-light" (click)="ShowDiv('step-4')">Atrás</button>
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-6')" matStepperNext>Continuar</button>
              </div>
            </div>
          </div>
          <div class="step-6" *ngIf="currDiv == 'step-6'">
            <div class="final">
              <div *ngIf="finalsuccess" class="final-success">
                <div class="icon-container">
                  <i class="material-icons exito">check</i>
                </div>
                <h3>Muy Bien!</h3>
                <p>Realizaste con exito tu Valoración..</p>
                <p>Vuelve al <span class="azul">Inicio</span> Inicio para realizar una
                  nueva Valoración o puedes <span class="azul">salir</span>
                  de la plataforma
                </p>
                <div class="row">
                  <div class="col btn-container text-center">
                    <button class="btn-start" (click)="restart()">INICIO</button>
                    <button class="btn-exit" (click)="salir()">SALIR</button>
                  </div>
                </div>
              </div>
              <div *ngIf="!finalsuccess" class="final-error">
                <div class="icon-container">
                  <i class="material-icons exito">warning</i>
                </div>
                <h3>Upps!</h3>
                <p>Ocurrio un error y no hemos podido procesar tu valoración</p>
                <p>Por favor <span class="azul">vuelve a intentarlo</span> o comunicate con el area
                  de <span class="azul">soporte</span>
                </p>
                <div class="row">
                  <div class="col btn-container text-center">
                    <button class="btn-exit" (click)="restart()">Vuelve a intentarlo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-step> 
      
    </mat-horizontal-stepper>
    </div>
    <div class="settings" *ngIf="currPdiv == 'settings'">
      <div class="row main-row" *ngIf="currSdiv == 'settings-step1'" >
        <div class="col-4 search">
          <div class="contenedor">

            <form [formGroup]="searchFormGroup" (ngSubmit)='submission()'>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" formControlName="buscar">
              </div>
              <div class="form-group">
                <ng-multiselect-dropdown name="region" [placeholder]="'Región *'" [data]="region"
                  formControlName="region" [(ngModel)]="selectedRegions" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" [required]='requiredRegion'>
                </ng-multiselect-dropdown>
                <div *ngIf="!requiredRegion">
                  <div class="invalid-feedback">La región es un campo obligatorio</div>
                </div>
              </div>
              <div class="form-group">
                <ng-multiselect-dropdown name="ciudad" [placeholder]="'Ciudad *'" [data]="ciudad"
                  formControlName="ciudad" [(ngModel)]="selectedCities" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" [required]='requiredCity'>
                </ng-multiselect-dropdown>
                <div *ngIf="!requiredCity">
                  <div class="invalid-feedback">La ciudad es un campo obligatorio</div>
                </div>
              </div>
              <div class="form-group">
                <ng-multiselect-dropdown name="taller" [placeholder]="'Taller *'" [data]="taller"
                  formControlName="taller" [(ngModel)]="selectedAutoshop" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" [required]='requiredAutoshop'>
                </ng-multiselect-dropdown>
                <div *ngIf="!requiredAutoshop">
                  <div class="invalid-feedback">El taller es un campo obligatorio</div>
                </div>
              </div>
              <div class="form-group">
                <ng-multiselect-dropdown name="tipotaller" [placeholder]="'Tipo Taller*'" [data]="tipotaller"
                  formControlName="tipotaller" [(ngModel)]="selectedAutoshoptype" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" [required]='requiredAutoshoptype'>
                </ng-multiselect-dropdown>
                <div *ngIf="!requiredAutoshoptype">
                  <div class="invalid-feedback">El tipo de taller es un campo obligatorio</div>
                </div>
              </div>
              <div class="form-group">
                <ng-multiselect-dropdown name="calidadtaller" [placeholder]="'Calidad Taller*'" [data]="calidadtaller"
                  formControlName="calidadtaller" [(ngModel)]="selectedAutoshopc" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" [required]='requiredAutoshopc'>
                </ng-multiselect-dropdown>
                <div *ngIf="!requiredAutoshopc">
                  <div class="invalid-feedback">La calidad del taller es un campo obligatorio</div>
                </div>
              </div>
              <div class="row">
                <div class="col btn-container text-center">
                  <button mat-button class="btn btn-light">Limpiar</button>
                  <button mat-button class="btn btn-warning" type="submit" >Aplicar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-8 parameters">
          <div class="contenedor">
            <h3>Caracteristicas generales del taller</h3>
            <hr>
            <form [formGroup]="settingFormGroup">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="N° de casos">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <div id="marca" class="">
                      <div class="form-group">
                        <ng-multiselect-dropdown name="marca" [placeholder]="'Marca'" [data]="marca"
                          formControlName="marca" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <p class="col-title">Estado</p>
                  <div class="switch-button">
                    <label class="switch">
                      <input type="checkbox" id="togBtn">
                      <div class="slider round">
                        <!--ADDED HTML -->
                        <span class="on">Activo</span>
                        <span class="off">Inactivo</span>
                        <!--END-->
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <p class="col-title">Tipo de Amparo</p>
                    <div class="row">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div class="col-6 nopadding">
                          <label class="btn btn-outline-secondary active">
                            <input type="radio" name="options" id="option1" checked>RC
                          </label>
                          <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option2">PPT
                          </label>
                        </div>
                        <div class="col-6 nopadding">
                          <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option3">PPD
                          </label>
                          <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option4">EXPRESS
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <p class="col-title">Incendios</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-secondary small active">
                        <input type="radio" name="options" id="option1" checked>Si
                      </label>
                      <label class="btn btn-outline-secondary small">
                        <input type="radio" name="options" id="option2">No
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <p class="col-title">Inundados</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-secondary small active">
                        <input type="radio" name="options" id="option1" checked>Si
                      </label>
                      <label class="btn btn-outline-secondary small">
                        <input type="radio" name="options" id="option2">No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <mat-label>Mano de Obra Latonería</mat-label>
                    <input matInput placeholder="$ Valor Latonería*" class="form-control">
                  </div>

                </div>
                <div class="col-4">
                  <div class="form-group">
                    <mat-label>Mano de Obra Mecánica</mat-label>
                    <input matInput placeholder="$ Valor Mecánica*" class="form-control">
                  </div>

                </div>
                <div class="col-4">
                  <div class="form-group">
                    <mat-label>Mano de Obra Pintura</mat-label>
                    <input matInput placeholder="$ Valor Pintura*" class="form-control">
                  </div>
                </div>
              </div>
              <hr>
              <h3>Pintura</h3>
              <hr>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <p class="col-title">Calidad de pintura</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-secondary active">
                        <input type="radio" name="options" id="option1" checked>Agua
                      </label>
                      <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="option2">Solvente
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <mat-label>Valor Constante de Pintura</mat-label>
                    <input matInput placeholder="$ Valor constante pintura *" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <mat-label>Valor M2 Pintura Monocapa</mat-label>
                    <input matInput placeholder="$ Valor M2 Monocapa *" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <mat-label>Valor M2 Pintura Bicapa</mat-label>
                    <input matInput placeholder="$ Valor M2 Bicapa *" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <mat-label>Valor M2 Pintura Tricapa</mat-label>
                    <input matInput placeholder="$ Valor M2 Tricapa *" class="form-control">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col btn-container text-right">
                  <button mat-button class="btn btn-light">Limpiar</button>
                  <button mat-button class="btn btn-warning" (click)="ShowSdiv('settings-step2')">APlicar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row main-row" *ngIf="currSdiv == 'settings-step2'">
        <div class="final">
          <div *ngIf="finalsuccess" class="final-success">
            <div class="icon-container">
              <i class="material-icons exito">check</i>
            </div>
            <h3>Muy Bien!</h3>
            <p>Realizaste con exito la parametrización del taller .......</p>
            <p>Vuelve al <span class="azul">Inicio</span> Inicio para realizar una
              nueva parametrización, tambien puedes <span class="azul">ir a la valoración</span> en la plataforma o puedes <span class="azul">salir</span>
             
            </p>
            <div class="row">
              <div class="col btn-container text-center">
                <button class="btn-start">INICIO</button>
                <button class="btn-start" (click)="ShowPdiv('steps'); ShowDiv('step-1') ">VALORACIÓN</button>
                <button class="btn-exit" (click)="salir()">SALIR</button>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="col-12">
    <p>Powered by <b>subocol</b></p>
  </div>
</footer>
<div class="loader" *ngIf="currPdiv == 'loader'">
  <div class="loader-container">
    <div class="bar-container">
      <h6 class="loader-title">Cargando</h6>
      <p class="loader-porcent">50%</p>
      <div class="next-container">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </div>
  </div>
</div>
