<header>
  <div class="header-container">
    <div class="logo float-left">
      <img id="logo_accion" src="../assets/img/logo.png" alt="">
    </div>
    <div class="sesion float-right">
      <div class="text">
        <p class="name" id="">robertcastro</p>
        <p class="job visible" id="" hidden>FHV-VALORACION</p>
        <p class="job" id="">bolivar</p>
        <p class="job visible" id="" hidden>editar </p>
        <p class="job visible" id="" hidden>c25d5d98-e3de-43d9-95cf-a5775c5651d4</p>
        <p class="state">En línea</p>
      </div>
      <img src="../assets/img/user1.png" alt="">
    </div>
  </div>
  <i class="material-icons session-close" (click)="toggle()">keyboard_arrow_down</i>
  <div class="button-session" *ngIf="show">
    <p>Cerrar sesión</p>
  </div>
</header>
<div class="main-content">
  <div class="container-fluid borderless">
    <div class="init-vars" *ngIf="currPdiv == 'select'">
      <div class="modal-body">
        <div class="modal-content">
          <form [formGroup]="dialogFormGroup">

            <h3 class="texto_info okinfo-title">Amparo a afectar</h3>
            <mat-radio-group aria-label="Select an option" formControlName="amparo">
              <div class="row justify-content-between">
                <div class="col-6">
                  <mat-radio-button value="tercero" class="btn-checkbox">Tercero</mat-radio-button>
                </div>
                <div class="col-6">
                  <mat-radio-button value="asegurado" class="btn-checkbox">Asegurado</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>

            <h3 class="texto_info">Tipo de servicio</h3>
            <mat-radio-group aria-label="Select an option" formControlName="servicio">
              <div class="row justify-content-between">
                <div class="col-6">
                  <mat-radio-button value="Publico" class="btn-checkbox">Público</mat-radio-button>
                </div>
                <div class="col-6">
                  <mat-radio-button value="particular" class="btn-checkbox">particular</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
            <h3 class="texto_info">Perdida total</h3>
            <mat-radio-group aria-label="Select an option" formControlName="perdida">
              <div class="row justify-content-between">
                <div class="col-6">
                  <mat-radio-button value="si" class="btn-checkbox">Si</mat-radio-button>
                </div>
                <div class="col-6">
                  <mat-radio-button value="no" class="btn-checkbox">No</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>


            <div class="buttons btn-okinfo">
              <div class="container"><button class="ok_info"
                  [disabled]="(!dialogFormGroup.controls.amparo.value || !dialogFormGroup.controls.servicio.value) || (!dialogFormGroup.controls.perdida.value)"
                  (click)="ShowPdiv('steps')">OK</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="steps" *ngIf="currPdiv == 'steps'">
      <mat-horizontal-stepper>
        <mat-step>
          <div>
            <div class="step-1" *ngIf="currDiv == 'step-1'">7
              <div class="breadcrumb">
                <p>Inicio / <b>Datos básicos</b></p>
              </div>
              <div class="row datos-vehiculo">
                <div class="col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <input type="siniestro" class="form-control" id="siniestro" placeholder="N° de siniestro *">
                    </div>
                    <div class="text-container-upload" (click)="hiddenfileinput.click()">
                      <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
                      <div class="row">
                        <div class="col-4">
                          <i class="material-icons backup  align-middle">backup</i>
                        </div>
                        <div class="col-8">
                          <div class="textos">
                            <p><b>Busca y selecciona</b> la imagen de la tarjeta de propiedad del vehículo</p>
                            <p><span class="small-p">Máximo 5MB/ JPG y PNG </span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group group-upload">
                      <input type="vin" class="form-control" id="vin" placeholder="VIN *">
                    </div>
                    <div class="form-group">
                      <input type="marca" class="form-control" id="marca" placeholder="Marca">
                    </div>
                    <div class="form-group">
                      <input type="modelo" class="form-control" id="modelo" placeholder="Modelo *">
                    </div>
                    <div class="form-group">
                      <input type="linea" class="form-control" id="linea" placeholder="Linea *">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="form-group">
                      <input type="año" class="form-control" id="año" placeholder="Año">
                    </div>
                    <div class="form-group">
                      <div id="Ciudad" class="">
                        <select class="form-control" id="ciudad">
                          <option id="">Ciudad *</option>
                        </select></div>
                    </div>
                    <div class="form-group">
                      <div id="taller" class="">
                        <select class="form-control" id="taller">
                          <option id="">Taller *</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div id="tipo_pintura-button"><select class="form-control" id="tipo_pintura">
                          <option value="metalizada">Tipo de pintura</option>
                          <option value="metalizada">metalizada</option>
                          <option value="monocapa">monocapa</option>
                          <option value="perlada">perlada</option>
                          <option value="solido bicapa">solido bicapa</option>
                          <option value="tricapa">tricapa</option>
                        </select>
                      </div>
                    </div>
                    <div class="imagenes-vehiculos">
                      <div class="row">
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col seleccionable active" id="hatchback">
                            <div class="content">
                              <img src="../assets/img/hatchback.png" alt="">
                              <p>Hatchback</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col seleccionable" id="sedan">
                            <div class="content">
                              <img src="../assets/img/sedan.png" alt="">
                              <p>Sedan</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="pickup">
                            <div class="content">
                              <img src="../assets/img/pickup.png" alt="">
                              <p>Pickup</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="coupe">
                            <div class="content">
                              <img src="../assets/img/coupe.png" alt="">
                              <p>Coupe</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="camioneta">
                            <div class="content">
                              <img src="../assets/img/camioneta.png" alt="">
                              <p>Camioneta</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 tipo_vehiculo">
                          <div class="container-col no_seleccionable" id="campero">
                            <div class="content">
                              <img src="../assets/img/campero.png" alt="">
                              <p>Campero</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col btn-container text-center">
                  <button class="btn btn-warning" (click)="ShowDiv('step-2')" matStepperNext>CONTINUAR</button>
                </div>
              </div>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="text-container-upload">
                    <i class="material-icons backup">backup</i>
                    <p>Carga la imagen de la tarjeta de propiedad del vehiculo</p>

                  </div>
                </div>
                <div class="modal-footer">

                </div>
              </ng-template>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div class="step-2" *ngIf="currDiv == 'step-2'">
            <div class="breadcrumb">
              <p>Inicio / <b>Zonas afectadas</b></p>
            </div>
            <div class="col-12">
              <div class="contenedor">
                <mat-tab-group>
                  <mat-tab label="ZONAS AFECTADAS">
                    <div class="row top-div-tabs">
                      <div class="col-md-6 image-container">
                        <div class="top-div">
                          <img class="cenital-view" src="../assets/img/cenital.png" alt="">
                          <div *ngFor="let add of adds" [class]="'picture '+ add.position"
                            (click)="add.status=!add.status ; changeClass($event);">
                            <mat-icon class="add-picture">
                              {{ add.status?'camera_alt' : 'check'  }}
                            </mat-icon>
                            <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 upload">
                        <p class="archivos">Sube todos tus archivos</p>
                        <div class="text-container-upload">
                          <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
                          <div class="row">
                            <div class="col-4 col-md-12">
                              <i class="material-icons backup  align-middle">backup</i>
                            </div>
                            <div class="col-8 col-md-12">
                              <div class="textos">
                                <p><span class="link" (click)="hiddenfileinput.click()">Busca en tu equipo</span> y
                                  escoge los archivos que quieres subir</p>
                                <p><span class="small-p">Archivos soportados JPG, JEPG y PNG <br>Máximo 5MB </span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <mat-tab label="GALERÍA"></mat-tab>
                </mat-tab-group>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-light" matStepperPrevious (click)="ShowDiv('step-1')">Atrás</button>
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-3')">Continuar</button>
              </div>
            </div>
          </div>
          <div class="step-3" *ngIf="currDiv == 'step-3'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="table-container example-container mat-elevation-z8 col-12">
              <h6><b>Busca el nombre del repuesto que deseas agregar</b></h6>
              <form class="example-form" [formGroup]="filterForm">
                <mat-form-field class="example-full-width">
                  <mat-label>Agregar piezas</mat-label>
                  <input ype="text" placeholder="Agregar piezas" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto" formControlName="filter" matInput (keyup)="applyFilter($event)">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>

              <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <!-- Name Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>


                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre del repuesto </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-light" (click)="ShowDiv('step-2')">Atrás</button>
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-4')">Continuar</button>
              </div>
            </div>
          </div>
          <div class="step-4" *ngIf="currDiv == 'step-4'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="col-12 table-valoracion-container">
              <div class="row valoracion-texto">
                <div id="encabezado_resultado" class="col-12">
                  <div class="row">
                    <div class="col-8">
                      <div class="row">
                        <div class="col-md-4">
                          <p id="informacion_placa"><b>PLACA:</b> UTN539</p>
                        </div>
                        <div class="col-md-4">
                          <p id="informacion_marca"><b>MARCA:</b>NIZAN</p>
                          <p id="informacion_linea"><b>MODELO:</b>XTRAIL</p>
                        </div>
                        <div class="col-md-4">
                          <p id="informacion_marca"><b>LÍNEA:</b> D2</p>
                          <p id="informacion_linea"><b>AÑO:</b> 2017</p>
                        </div>
                      
                    </div>
                    </div>
                    <div class="col-3">
                      <div class="perdida-div">
                        <div class="unicorn-dark-theme">
                          <mat-progress-spinner class="example-margin " [color]="color" [mode]="mode" [value]="value">
                          </mat-progress-spinner>
                          <div class="texto-perdida">
                            <p class="valor" [ngStyle]="{'color' : pcolor}">{{value}} %</p>
                            <p class="texto" [ngStyle]="{'color' : pcolor}">perdida</p>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>


          <div class="edit" *ngIf="currDiv == 'edit'">
            <div class="breadcrumb">
              <p>Inicio / <b>Valoración</b></p>
            </div>
            <div class="col-12 table-edicion-container">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="table-responsive">
                      <h3>Mano de obra</h3>
                      <table class="table table-striped" id="table_detalle_mo">
                        <tr class="tr_parte" id="Mano_obra_df">
                          <td class="text-center" scope="col" id="Mano_obra_descripcion">Mano obra</td>
                          <td scope="col"><input class="iditar2 text-center horas_trabajo_tecnico" type="text"
                              id="Mano_obra_horas" value="5.3"></td>
                          <td scope="col"><input class="iditar2 text-center" type="text" id="Mano_obra_valorhora"
                              value="36000"></td>
                          <td class="text-center valor_trabajo_tecnico" scope="col" id="Mano_obra_total">$ 191.472
                            COP</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="table-responsive">
                      <h3>Pintura</h3>
                      <table class="table table-striped" id="table_detalle_mp">
                        <thead>
                          <tr>
                            <th scope="col">Tipo de pintura</th>
                            <th scope="col">Unidades de Pintura</th>
                            <th scope="col">Horas de pintura</th>
                            <th scope="col">Valor Hora</th>
                            <th scope="col">Materiales pintura</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="ui-selectmenu">
                                <div id="tipo_de_pintura-button" class="" aria-disabled="true"><select
                                    class="form-control" id="tipo_de_pintura">
                                    <option value="metalizada">metalizada</option>
                                    <option value="monocapa">monocapa</option>
                                    <option value="perlada">perlada</option>
                                    <option value="solido bicapa">solido bicapa</option>
                                    <option value="tricapa">tricapa</option>
                                  </select>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div
                                class="ui-textinput ui-corner-all ui-shadow-inset ui-textinput-text ui-state-disabled ui-body-inherit mobile-textinput-disabled">
                                <input class="iditar2 text-center" type="text" id="unidades_de_pintura">
                              </div>
                            </td>
                            <td>
                              <div
                                class="ui-textinput ui-corner-all ui-shadow-inset ui-textinput-text ui-state-disabled ui-body-inherit mobile-textinput-disabled">
                                <input class="iditar2 text-center" type="text" id="horas_de_pintura"></div>
                            </td>
                            <td>
                              <div
                                class="ui-textinput ui-corner-all ui-shadow-inset ui-textinput-text ui-state-disabled ui-body-inherit mobile-textinput-disabled">
                                <input class="iditar2 text-center" type="text" id="valor_hora_pintura">
                              </div>
                            </td>
                            <td>
                              <div
                                class="ui-textinput ui-corner-all ui-shadow-inset ui-textinput-text ui-state-disabled ui-body-inherit mobile-textinput-disabled">
                                <input class="iditar2 text-center" type="text" id="materiales_pintura">
                              </div>
                            </td>
                            <td id="valor_total_pintura" class="text-center">$ 0 COP</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 contenedor-planes edit-plan">
              <div class="row">
                <div class="col-md-12 planes">
                  <div class="titulo obra">
                    <h3>Valor Mano de obra</h3>
                  </div>
                  <div class="text-container">
                    <p class="tiempo">Tiempo estimado </p>
                    <p id="tiempo_total_d">5.30 horas</p>
                    <p></p>
                    <p class="valor" id="valor_tiempo_d">$ 191.472 COP</p>
                    <p class="iva">Valores sin IVA</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col btn-container text-center">
                <button mat-button class="btn btn-warning" (click)="ShowDiv('step-4')">Continuar</button>
              </div>
            </div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="contenedor-texto">
            <p class="powered">Powered by</p>
          </div>
          <div class="logo">
            <p class="logo-text">SUBOCOL S.A</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
